<!-- app/views/fabrics/edit.html.erb -->

<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集フォーム</h1>
  </div>

  <%= form_tag("/fabrics/#{@fabric.id}/update",{multipart: true}) do %>
  <div class="form">
      <div class="form-body">
        <p>品番</p><br>
        <textarea name="number"><%= @fabric.number %></textarea><br>

        <p>業態</p><br>
        <textarea name="category"><%= @fabric.category %></textarea><br>

        <p>ブランド</p><br>
        <textarea name="brand"><%= @fabric.brand %></textarea><br>

        <p>打込</p><br>
        <textarea name="uchikomi"><%= @fabric.uchikomi %></textarea><br>

        <p>組織</p><br>
        <textarea name="organization"><%= @fabric.organization %></textarea><br>

        <p>規格</p><br>
        <textarea name="standard"><%= @fabric.standard %></textarea><br>

        <p>生地画像</p>
          <input name="image_fabric" type="file">


        <h2>ニュアンスを追加する</h2>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <table class="table table-header-rotated">
          <thead>
            <tr>
              <!-- First column header is not rotated -->
              <th></th>
              <!-- Following headers are rotated -->
              <th class="rotate"><div><span>---</span></div></th>
                <th class="rotate"><div><span>1</span></div></th>
                <th class="rotate"><div><span>2</span></div></th>
                <th class="rotate"><div><span>3</span></div></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th class="row-header">固さ</th>
              <td><input checked="checked" name="hardness" type="radio" value=0></td>
              <td><input name="hardness" type="radio" value=1></td>
              <td><input name="hardness" type="radio" value=2></td>
              <td><input name="hardness" type="radio" value=3></td>
              </tr>
            <tr>
              <th class="row-header">厚さ</th>
              <td><input checked="checked" name="thickness" type="radio" value=0></td>
              <td><input name="thickness" type="radio" value=1></td>
              <td><input name="thickness" type="radio" value=2></td>
              <td><input name="thickness" type="radio" value=3></td>
            </tr>
            <tr>
              <th class="row-header">光沢度</th>
              <td><input checked="checked" name="brightness" type="radio" value=0></td>
              <td><input name="brightness" type="radio" value=1></td>
              <td><input name="brightness" type="radio" value=2></td>
              <td><input name="brightness" type="radio" value=3></td>
            </tr>
          </tbody>
        </table>
      </div>
      <input type="submit" value="更新">

  </div>
  <% end %>
</div>
