<!-- app/views/fabrics/index.html.erb -->

<h1>生地リスト</h1>
<p>オリジナル生地を一覧で表示</p>

<div class="main fabrics-index">
  <div class="container">
    <% @fabrics.each.with_index(1) do |fabric, i| %>
    <div class="fabrics-index-item">

  <table border="1">
  <tr>
    <th>id</th>
    <th>品番</th>
    <th>カテゴリー</th>
    <th>ブランド</th>
    <th></th>
  </tr>

  <tr>
    <td><%= i %></td>
    <td><%= fabric.number %></td>
    <td><%= fabric.category %></td>
    <td><%= fabric.brand %></td>
    <td><%= link_to("詳細", "/fabrics/#{fabric.id}") %></td>
  </tr>
  </table>

  <% end %>
  </div>
  <br>
  <td><%= link_to("新規生地登録", "/fabrics/new") %></td>

  </div>
