<%= link_to("顧客リスト", "/customers") %>
<p>生地サンプルをPICKした顧客情報の登録・確認・変更ができます。</p>

<%= link_to("新規登録", "/customers/new") %>
<p>顧客情報新規登録ができます。</p>

<%= link_to("生地リスト", "/fabrics") %>
<p>オリジナル生地情報の確認・変更ができます。</p>

<%= link_to("最適テキスタイル検索", "/nuances") %>
<p>オリジナル生地の中からニュアンスで検索することができます。</p>

<%= link_to("PICK生地サンプルリスト", "/orders") %>
<p>展示会にてPICKされた生地サンプルをリストで確認できます。
    (生地別の出荷状況の確認に使用)</p>

<%= link_to("ランキング", "/customers/ranking") %>
<p>PICKUPされたサンプル生地のランキングをコレクション別で確認できます。</p>
